@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    overflow: hidden;
}

body {
    margin: 0;
}

.main {
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.main .scroll-section {
    scroll-snap-align: start;
}

canvas {
    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    z-index: -1;

    background-color: antiquewhite;
    
}

/* TESTING GROUND */
#scroll-button {
    position: fixed;

}

/* FONTS */
h2 { 
    font-family: 'Signika Negative', sans-serif;
}

.large-category {
    font-family: 'Signika Negative', sans-serif;
    font-size: 4rem;
}

.menu-type {
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.3rem;
}

.menu-name p, .menu-price p {
    font-family: 'Noto Sans KR', sans-serif;;
    font-weight: 500;
}

.menu-description {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: small;
}

.introduction{
    font-family: 'Noto Sans KR', sans-serif;
}


/* LAYOUT */
.page-container#splash-page {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid; */
}

#dailybrew-splash-logo {
    width: 40%;
    max-width: 40rem;
    min-width: 20rem;
}


.page-container{
    padding: 0 2rem 0 2rem;
}

.page-container#menu-page {
    display: flex;
    justify-content: center;
}

.page-container#introduction-page{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.page-container#photo-gallery-page{
    display: flex;
    justify-content: center;

}

.introduction-container{
    padding: 0 2rem 0 2rem;
    max-width: 30rem;
}

.photo-gallery-container{
    flex-basis: 40rem;
    columns: 14rem;
    gap: 2rem;

    margin-top: 5rem;
}

.photo{
    max-width: 100%;
    margin: 0 0 2rem 0;

    border: 2px solid #333;
    border-radius: 1.5rem;
    padding: 0.7rem;
}

.menu-type {
    text-align: center;
    margin-top: 5rem;
}

.large-category{
    text-align: center;
    font-size: 4rem;
    padding-top: 3rem;
    /* margin-top: 10rem; */
}

.menu-container {
    flex-basis: 50rem;
    columns: 18rem;
}

.menu-category p {
    margin: 0;
}

.menu-category {
    padding: 0 0 2rem 0;
}

.menu-category h2 {
    margin: 0 0 1rem 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.menu-description {
    padding: 0.2rem 0 1rem 0;
}

#jambon-description {
    margin: -1rem 0 0.5rem 0;
}

.introduction{
    text-align: center;
}